body, html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: Arial, Ubuntu, sans-serif;
}

* {
	--bg-info: #cddeff;
	--text-info: #33298f;
	
	--bg-success: #cff3da;
	--text-success: #348656;
	
	--bg-warning: #fcfbc9;
	--text-warning: #867208;
	
	--bg-error: #fad3d7;
	--text-error: #8c263e;
}

.message {
	padding: .5em;
	margin: .5em;
	border: 2px solid lightgrey;
	border-radius: 5px;
}

.message-info {
	background-color: var(--bg-info);
	color: var(--text-info);
}

.message-success {
	background-color: var(--bg-success);
	color: var(--text-success);
}

.message-warning {
	background-color: var(--bg-warning);
	color: var(--text-warning);
}

.message-error {
	background-color: var(--bg-error);
	color: var(--text-error);
}