:root {
	--left-color: blue;
	--top-color: white;
	--bottom-color: red;
}

body, html, section {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.container {
	margin: 0;
	border: none;
	padding: 0;
	width: 100%;
	height: 100%;
}

.blue {
	background-color: var(--left-color);
	background-image: url("../img/star-128.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 30%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	float: left;
}

.white {
	background-color: var(--top-color);
	width: 100%;
	height: 50%;
	margin: 0;
	padding: 0;
	border: none;
}

.red {
	background-color: var(--bottom-color);
	width: 100%;
	height: 50%;
	margin: 0;
	padding: 0;
	border: none;
}